ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* 修改container的最大宽度为1280 */
@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}


.container {
    background-color: #fff;
}

/* header */

/* 小屏幕 */
@media screen and (max-width:991px) {

    /* 在小屏幕下让头部右侧没有空隙 */
    header {
        padding-right: 0 !important;
    }

    /* 让nav在一行显示 */
    .nav li {
        float: left;
        width: 20%;
    }

    article {
        margin-top: 10px;
    }
}

/* 超小屏幕让字体缩小 */
@media screen and (max-width:767px) {
    .nav li a {
        font-size: 14px;
        padding-left: 3px;
    }

    .news li:nth-child(1) {
        width: 100% !important;
    }

    .news li {
        width: 50% !important;
    }

    .publish h3 {
        font-size: 14px;
    }

}

header {
    padding-left: 0 !important;
    /* padding-right: 0 !important; */
}

.logo {
    background-color: #429ad9;
}

.logo img {
    display: block;
    /* 使用max-width是因为如果使用width: 100%的话当屏幕变小时宽度默认与最小屏幕一致此时高度也会被拉伸 但如果使用max-width的话最大的宽度就是图片本身的宽度就不会撑开盒子高度 */
    /* 最大宽度就是图片自身宽度 */
    max-width: 100%;
    margin: 0 auto;
}

.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* nav */
.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;

}

.nav a:hover {
    color: #333;
    background-color: #fff;
}

.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}

/* news */
.news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
    padding: 5px 10px;
}

.news li:nth-child(1) {
    width: 50%;
    height: 266px;
}

.news li:nth-child(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}

.news li a img {
    width: 100%;
    height: 100%;
}

/* publish */
.publish {
    border-top: 1px solid #ccc;
}

.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.publish a {
    display: block;
}

.pic {
    margin-top: 10px;
}

.pic img {
    width: 100%;
    height: 100%;
}

/*  */
.banner img {
    width: 100%;
}

.hot {
    display: block;
    margin-top: 20px;
    padding: 0 20px 20px;
    border: 1px solid #ccc;
}

.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}

.hot p {
    font-size: 12px;
}